# --- CONFIGURACIÓN DE BASE DE DATOS (DOCKER) ---
# Estos valores los usa el archivo docker-compose.yml para crear el contenedor
DB_USER=TU_USUARIO_AQUÍ
DB_PASSWORD=TU_CONTRASEÑA_AQUÍ
DB_NAME=apitienda_db
DB_PORT=5433

# --- CADENAS DE CONEXIÓN (.NET CORE) ---
# Nota: 'localhost' se usa para desarrollo local fuera de Docker.
# Si la API corre dentro de Docker, el Host debe ser el nombre del servicio de la DB.
ConnectionStrings__DefaultConnectionUsers="Host=localhost;Port=5433;Database=apitienda_db;Username=TU_USUARIO_AQUÍ;Password=TU_CONTRASEÑA_AQUÍ"
